$color-primary:         #056AFC;

$color-black:           #393E46;
$color-black-d-30:      #272B30;
$color-black-d-40:      #22252A;
$color-black-d-60:      #16181C;
$color-black-d-80:      #0B0C0E;
$color-black-w-20:      #60646B;
$color-black-w-40:      #888B90;
$color-black-w-60:      #AFB1B5;
$color-black-w-80:      #D7D8DA;

$color-error:           #E74C3C;
$color-success:         #2ECC71;

$color-text:            $color-black-w-60;
$color-bg:              $color-black-d-80;
$color-border:          $color-black-w-20;
