.eb-match {
    position: relative;
    margin-top: 10px;
    padding: 40px 30px;
    background: $color-black-d-40;
    &__info {
        margin-bottom: 30px;
        text-align: center;
        @media (min-width: $screen-md) {
            position: absolute;
            top: 20px;
            right: 0;
            left: 0;
            margin-bottom: 0;
        }
        h4,
        div {
            margin: auto;
        }
        .eb-match__title {
            text-transform: uppercase;
        }
        .eb-match__date {
            margin-top: 3px;
        }
    }
    &__teams {
        text-align: center;
        @media (min-width: $screen-md) {
            text-align: left;
            @include flexbox;
            @include justify-content(space-between);
            @include align-items(center);
        }
    }
    &__team {
        @media (min-width: $screen-md) {
            width: 50%;
            @include flexbox;
            @include align-items(center);
            &.team--away {
                @include justify-content(flex-end);
                .eb-team__name {
                    @include order(-1);
                }
            }
        }

    }
    &__versus,
    &__score {
        display: block;
        color: #fff;
        font-size: 2rem;
        font-weight: 700;
        margin: 20px 0;
        @media (min-width: $screen-md) {
            position: absolute;
            left: 50%;
            margin: 0;
            @include transform(translateX(-50%));
        }
    }
    &__link {
        position: absolute;
        right: 0;
        bottom: 20px;
        left: 0;
        text-align: center;
        a {
            font-size: 0.8rem;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 1px;
        }
    }
}

.eb-matches {
    margin-bottom: 40px;
    @media (min-width: $screen-md) {
        margin-bottom: 60px;
    }
    h3 + & {
        margin-top: 20px;
    }
}

.eb-team {
    &__image {
        position: relative;
        width: 100px;
        height: 100px;
        text-align: center;
        margin: 0 auto;
        @media (min-width: $screen-md) {
            margin: 0;
        }
        img {
            position: relative;
            max-width: 100%;
            max-height: 100px;
            @media (min-width: $screen-md) {
                top: 50%;
                max-height: 150px;
                @include transform(translateY(-50%));
            }
        }
    }
    &__name {
        margin-top: 10px;
        @media (min-width: $screen-md) {
            margin-top: 0;
            padding: 20px;
        }
    }
}
